-content_for(:head) do
  = stylesheet_link_tag 'more'

.text
  %img.left{:src => '/images/face.jpg', :width => '300'}
  %p
    %a{:href => 'http://rubyconfindia.org/2010'}> Last year
    , there were crazy long lines to take a photo with CK "Sidu" Ponnappa. This year, we aim to streamline the process to make sure that all the really 1337 h4ck3rs get priority face time. 
  %p This year Sidu is back, and he's bigger and better than ever. Now that he's a core committer on a bunch of big projects, the lines are going to be about twenty times as long. And people are really persistent. They really want them photos.
  .clear
  .right
    %img{:src => '/images/suit.jpg', :width => '250'}
    %center.img-caption Choice of wardrobe available!
  %p But this year we've upped the standards. Sidu won't take a photo with just anyone. You didn't think it would be that easy, did you?
  %p This year, Sidu needs to make sure that you are worthy of a photo.
  %p Thus, we are introducing the CKP Photos for Patches initiative. There are tons of open source projects out there that need a lot of love. So we are willing to cut a deal. Close 3 tickets on any of the below open source projects, and you qualify for an autographed photo with his royal Siduness at <a href="http://rubyconfindia.org">RubyConf</a>.
  %p
    Participating Open Source Projects:
    %li= link_to 'wrest', 'http://github.com/kaiwren/wrest'
    %li= link_to 'goldberg', 'http://github.com/c42/goldberg'
    %li= link_to 'pox_paginate', 'http://github.com/c42/goldberg'
    %li= link_to 'rspec', 'https://github.com/rspec/rspec'
  %p The CKP Photos for Patches initiative: This time it's personalized!
  .clear
